.h1, .h2{
  margin: 0;
}

.buttonContainer{
  margin: 10px;
}

.linkTag{
  border-radius: 8px;
  border: 1px solid var(--input-color);
  background-color: var(--button-color);
  color: var(--background-color) !important;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  transition: color 0.3s;
}
.linkTag:hover {
  box-shadow: 1px 1px 15px var(--button-color-hover);
  color: var(--background-color);
}
.linkTag:active{
  box-shadow: none;
}
.table{
  margin-top: 10px;
}
