.linkTag {
  background-color: var(--button-color);
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.25s;
}
.linkTag:hover{
  box-shadow: 1px 1px 15px var(--button-color-hover);
  color: var(--background-color);
}
.linkTag:active{
  box-shadow: none;
}
