.selectContainer{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.select{
  font-size: 18px;
  padding: 15px 40px;
}
.table{
  margin-top: 10px;
}
