html,
body,
.root {
  font-family: sans-serif;
  font-size: 18px;
  color: var(--font-primary-color);
  background-color: var(--background-color);
}
:root{
  --button-color: rgb(249, 177, 122);
  --button-color-hover: rgb(251, 206, 172);
  --background-color: rgb(45, 50, 80);
  --table-head-color: rgb(37, 41, 68);
  --input-color: rgb(66, 71, 105);
  --table-row-color: rgba(66, 71, 105, 0.653);
  --font-second-color: rgb(103, 111, 157);
  --font-primary-color: rgb(255, 255, 255);
}

a, a:visited{
  color: #ffffff;
  text-decoration: none;
}
main{
  margin-top: 120px;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.linkTag{
  border-radius: 8px;
  border: 1px solid var(--input-color);
  background-color: var(--button-color);
  color: var(--background-color) !important;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  transition: color 0.3s;
}
.linkTag:hover {
  box-shadow: 1px 1px 15px var(--button-color-hover);
  color: var(--background-color);
}
.linkTag:active{
  box-shadow: none;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--button-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.25s;
  transition: color 0.25s;
}
button:hover {
  box-shadow: 1px 1px 15px var(--button-color-hover);
  color: var(--background-color);
}
button:active{
  box-shadow: none;
}
table{
  margin-top: 50px;
  border: 2px solid var(--background-color);
  width: 90%;
}
th{
  background-color: var(--table-head-color);
}
td{
  background-color: var(--input-color);
}
th,td{
  border: 2px solid var(--background-color);
  padding: 20px 30px;
  text-align: center;
}
